<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @category.label %>
</p>

<p>
  <strong>Color:</strong>
  <%= @category.color %>
</p>

<p>
  <strong>User:</strong>
  <%= @category.user %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
