<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Escroko" %></title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag "application", :media => "all" %>
<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
<%= javascript_include_tag "application" %>
</head>
<body>

<%= render 'layouts/navigation' %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, class: "alert alert-info" %>
			<% end %>
			<%= yield %>
		</div>
	</div><!--/row-->

	<footer>
		<p>&copy; Team Racket 2014</p>
	</footer>

</div> <!-- /container -->

</body>
</html>
