<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @account.currency %>
</p>

<p>
  <strong>Label:</strong>
  <%= @account.label %>
</p>

<p>
  <strong>Default amount:</strong>
  <%= @account.default_amount %>
</p>

<p>
  <strong>Default account:</strong>
  <%= @account.default_account %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
